<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.xmos.cdt.core.simulatorLaunchRun">
<stringAttribute key="com.xmos.cdt.device_id" value="XM189202"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.xmos.cdt.debug.core.debugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="bin/app_modbus_tcp.xe"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="app_modbus_tcp"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.xmos.cdt.toolchain.504238706"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/app_modbus_tcp"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
